{{ 'fs_seasonal.css' | asset_url | stylesheet_tag }}

<h1>fs seasonal</h1>

<script src="{{ 'fs_seasonal.js' | asset_url }}" defer></script>

{% schema %}
{
    "name": "FS Seasonal",
    "class": "fs-seasonal",
    "settings": [
        {
            "type": "text",
            "id": "seasonal_title",
            "label": "Seasonal Title",
            "default": "Vacay This Way"
        },
        {
            "type": "text",
            "id": "seasonal_subtitle",
            "label": "Seasonal Subtitle",
            "default": "Everything you need for your summer get away!"
        },
        {
            "type": "text",
            "id": "seasonal_cta_desktop_text",
            "label": "Seasonal CTA Desktop Text",
            "default": "SHOP SUMMER"
        },
        {
            "type": "text",
            "id": "seasonal_cta_mobile_text",
            "label": "Seasonal CTA Mobile Text",
            "default": "SHOP SUMMER ESSENTIALS"
        },
        {
            "type": "url",
            "id": "seasonal_cta_url",
            "label": "Seasonal CTA URL"
        },
        {
            "type": "image_picker",
            "id": "seasonal_image",
            "label": "Seasonal Image",
            "info": "Size: 930x650px, Compressed .jpg"
        }
    ],
    "presets": [{ "name": "FS Seasonal"}]
}
{% endschema %}